#mytitle{
    width: 250px;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    background: lightcoral;
    border-radius: 3em;}

.container{

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.calc{
    background: #092649;
    padding: 20px;
    border-radius: 10px;
}

.calc form input{

    border: 0px;
    outline: 0px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255, 0.1), 5px -8px 15px rgb(255, 255, 255, 0.1);
    background: transparent;
    font-size: 20px;
    color: white;
    margin: 10px;
    cursor:pointer;

}

form .result{
    display:flex;
    justify-content: flex-end;
    margin: 20px 0;

}

form .result input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal {
  width: 145px;
  color: rgb(75, 209, 213);

}

form input.operator{

    color: rgb(75, 209, 213);

}





